@font-face {
  font-family: "Roboto Flex";
  src: url("../fonts/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf") format("truetype-variations");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}
@font-face {
  font-family: "Abril Fatface";
  src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype");
  font-weight: 400;
}
* {
  font-family: "Roboto Flex", sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.fab {
  position: fixed;
  right: 32px;
  bottom: 85px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #f44236;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.2), 0 3px 5px -1px rgba(0, 0, 0, 0.12);
  display: grid;
  place-content: center;
}
.fab:before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  background-size: contain;
  filter: invert(100%);
}
.fab.expand:before {
  background-image: url("../icons/maximize.png");
}
.fab.shrink:before {
  background-image: url("../icons/minimize.png");
}

hr {
  margin: 0;
  padding: 1em 0;
  border: none;
}
.small hr {
  padding: 0.6em 0;
}
hr:before {
  content: "";
  display: block;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}
hr.light {
  padding: 0;
  margin: 0.8em auto;
  width: 75%;
  height: 2px;
  background: radial-gradient(rgba(0, 0, 0, 0.1), transparent);
}
hr.light:before {
  content: unset;
}
.small hr.light {
  margin: 0.5em auto;
}

.spell-card-list {
  flex-grow: 1;
  overflow: hidden auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 340px), 1fr));
  grid-auto-rows: max-content;
  grid-template-rows: masonry;
  gap: 16px;
  padding: 16px;
  justify-items: center;
  align-items: start;
}
.spell-card-list.small {
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 140px), 1fr));
}
.spell-card-list > * {
  box-sizing: border-box;
  max-width: 400px;
}
.small .spell-card-list > * {
  max-width: 200px;
}

.spell-group {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.02);
}
.small .spell-group {
  padding: 8px;
  border-radius: 6px;
}
.spell-group .spell {
  display: grid;
  grid-template-areas: "spell-tags level" "name level";
  grid-template-columns: 1fr auto;
  box-sizing: border-box;
  padding: 6px 6px 0;
}
.small .spell-group .spell {
  grid-template-areas: "name level" "name spell-tags";
  align-items: center;
}
.spell-group .spell .spell-tags {
  grid-area: spell-tags;
  margin-bottom: 0.2em;
  display: flex;
  gap: 5.2px;
  flex-wrap: wrap;
}
.spell-group .spell .spell-tags *, .spell-group .spell .spell-tags:before {
  display: inline-flex;
  align-items: center;
  height: 20.8px;
  padding-left: 7.8px;
  padding-right: 7.8px;
  border-radius: 10.4px;
  background-color: rgba(224, 224, 224, 0.5);
  font-size: 9.1px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.9);
}
.small .spell-group .spell .spell-tags {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 4px;
  max-width: min-content;
}
.small .spell-group .spell .spell-tags *, .small .spell-group .spell .spell-tags:before {
  display: inline-flex;
  align-items: center;
  height: 16px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  background-color: rgba(224, 224, 224, 0.5);
  font-size: 7px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.9);
}
.spell-group .spell .name {
  grid-area: name;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.small .spell-group .spell .name {
  font-size: 16px;
}
.spell-group .spell .level {
  position: relative;
  grid-area: level;
  width: 64px;
  height: 64px;
  display: grid;
  place-content: center;
}
.small .spell-group .spell .level {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
.spell-group .spell .level:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  opacity: 0.75;
  background-size: contain;
}
.small .spell-group .spell .level:before {
  width: 32px;
  height: 32px;
}
.spell-group .spell .level:after {
  font-family: "Abril Fatface", serif;
  font-size: 32px;
}
.small .spell-group .spell .level:after {
  font-size: 16px;
}
.spell-group .spell .level-0:after {
  content: "";
  background-image: url("../icons/clean.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}
.small .spell-group .spell .level-0:after {
  width: 16px;
  height: 16px;
}
.spell-group .spell .level-1:before {
  background-image: url("../icons/level outline 1.svg");
}
.spell-group .spell .level-1:after {
  content: "1";
}
.spell-group .spell .level-2:before {
  background-image: url("../icons/level outline 1.svg");
}
.spell-group .spell .level-2:after {
  content: "2";
}
.spell-group .spell .level-3:before {
  background-image: url("../icons/level outline 2.svg");
}
.spell-group .spell .level-3:after {
  content: "3";
}
.spell-group .spell .level-4:before {
  background-image: url("../icons/level outline 2.svg");
}
.spell-group .spell .level-4:after {
  content: "4";
}
.spell-group .spell .level-5:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-group .spell .level-5:after {
  content: "5";
}
.spell-group .spell .level-6:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-group .spell .level-6:after {
  content: "6";
}
.spell-group .spell .level-7:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-group .spell .level-7:after {
  content: "7";
}
.spell-group .spell .level-8:before {
  background-image: url("../icons/level outline 4.svg");
}
.spell-group .spell .level-8:after {
  content: "8";
}
.spell-group .spell .level-9:before {
  background-image: url("../icons/level outline 4.svg");
}
.spell-group .spell .level-9:after {
  content: "9";
}
.small .spell-group .spell {
  padding: 4px 4px 0;
}
.spell-group > .expansion hr {
  margin-block-start: 0 !important;
}
.spell-group .options {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.small .spell-group .options {
  margin-top: 12px;
  gap: 12px;
}
.spell-group .options .spell-card {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.spell-group .options .spell-card.favorite {
  box-shadow: 0 1px 1px 0 rgba(244, 161, 54, 0.28), 0 2px 1px -1px rgba(244, 161, 54, 0.4), 0 1px 3px 0 rgba(244, 161, 54, 0.24), 0 0 2em inset rgba(244, 161, 54, 0.2);
}

.small.all .spell-card.chosen, .spell-card.known, .spell-card.prepared, .small.all .spell-group.chosen, .spell-group.known, .spell-group.prepared {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 0 8px 0px rgba(54, 231, 244, 0.35);
}
.spell-card.chosen .spell-tags:before, .spell-group.chosen .spell-tags:before {
  content: "Chosen";
}
.small .spell-card.chosen .spell-tags:before, .small .spell-group.chosen .spell-tags:before {
  content: "C";
}
.spell-card.chosen .chosen-segment, .spell-group.chosen .chosen-segment {
  background: rgba(73, 69, 79, 0.08) !important;
}
.spell-card.known .spell-tags:before, .spell-group.known .spell-tags:before {
  content: "Known";
}
.small .spell-card.known .spell-tags:before, .small .spell-group.known .spell-tags:before {
  content: "K";
}
.spell-card.known .known-segment, .spell-group.known .known-segment {
  background: rgba(73, 69, 79, 0.08) !important;
}
.spell-card.prepared .spell-tags:before, .spell-group.prepared .spell-tags:before {
  content: "Prepared";
}
.small .spell-card.prepared .spell-tags:before, .small .spell-group.prepared .spell-tags:before {
  content: "P";
}
.spell-card.prepared .prepared-segment, .spell-group.prepared .prepared-segment {
  background: rgba(73, 69, 79, 0.08) !important;
}
.spell-card.favorite, .spell-group.favorite {
  box-shadow: 0 2px 2px 0 rgba(244, 161, 54, 0.28), 0 3px 1px -2px rgba(244, 161, 54, 0.4), 0 1px 5px 0 rgba(244, 161, 54, 0.24), 0 0 2em inset rgba(244, 161, 54, 0.2);
}
.small.all .spell-card.favorite.chosen, .spell-card.favorite.known, .spell-card.favorite.prepared, .small.all .spell-group.favorite.chosen, .spell-group.favorite.known, .spell-group.favorite.prepared {
  box-shadow: 0 2px 2px 0 rgba(244, 161, 54, 0.28), 0 3px 1px -2px rgba(244, 161, 54, 0.4), 0 1px 5px 0 rgba(244, 161, 54, 0.24), 0 0 2em inset rgba(244, 161, 54, 0.2), 0 0 8px 0px rgba(54, 231, 244, 0.5);
}
.spell-card.favorite > .expansion .favorite-button, .spell-group.favorite > .expansion .favorite-button {
  background-color: rgba(73, 69, 79, 0.08) !important;
}
.spell-card.favorite > .expansion .favorite-button:before, .spell-group.favorite > .expansion .favorite-button:before {
  background-image: url("../icons/favorite star filled.svg") !important;
}
.spell-card .expansion, .spell-group .expansion {
  height: 0;
  overflow: hidden;
  transition-property: height;
  transition-timing-function: ease;
}
.spell-card .expansion .card-description, .spell-group .expansion .card-description {
  text-align: justify;
  font-size: 14px;
}
.small .spell-card .expansion .card-description, .small .spell-group .expansion .card-description {
  font-size: 8px;
}
.spell-card .expansion .at-higher-levels, .spell-group .expansion .at-higher-levels {
  font-weight: 600;
  font-variation-settings: "slnt" -8;
  letter-spacing: 0.2px;
}
.spell-card .expansion .buttons, .spell-group .expansion .buttons {
  display: flex;
  gap: 16px;
}
.small .spell-card .expansion .buttons, .small .spell-group .expansion .buttons {
  gap: 6px;
}
.spell-card .expansion .buttons .favorite-button, .spell-group .expansion .buttons .favorite-button {
  box-sizing: border-box;
  min-width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid #79747E;
  display: grid;
  place-content: center;
}
.small .spell-card .expansion .buttons .favorite-button, .small .spell-group .expansion .buttons .favorite-button {
  min-width: 20px;
  height: 20px;
  border-radius: 20px;
}
.spell-card .expansion .buttons .favorite-button:hover, .spell-group .expansion .buttons .favorite-button:hover {
  background-color: rgba(73, 69, 79, 0.08);
}
.spell-card .expansion .buttons .favorite-button:active, .spell-group .expansion .buttons .favorite-button:active {
  background-color: rgba(73, 69, 79, 0.12);
}
.spell-card .expansion .buttons .favorite-button:before, .spell-group .expansion .buttons .favorite-button:before {
  content: "";
  width: 24px;
  height: 24px;
  background-size: contain;
  filter: invert(68%) sepia(88%) saturate(816%) hue-rotate(334deg) brightness(100%) contrast(92%);
  background-image: url("../icons/favorite star outline.svg");
}
.small .spell-card .expansion .buttons .favorite-button:before, .small .spell-group .expansion .buttons .favorite-button:before {
  width: 12px;
  height: 12px;
}
.spell-card .expansion .buttons .segmented-button, .spell-group .expansion .buttons .segmented-button {
  display: grid;
  grid-auto-flow: column;
  align-items: stretch;
  border: 1px solid #79747E;
  border-radius: 20px;
}
.small .spell-card .expansion .buttons .segmented-button, .small .spell-group .expansion .buttons .segmented-button {
  border-radius: 10px;
  font-size: 8px;
}
.spell-card .expansion .buttons .segmented-button .button-segment, .spell-group .expansion .buttons .segmented-button .button-segment {
  border: none;
  border-left: 1px solid #79747E;
  background: transparent;
  padding: 0 8px;
}
.small .spell-card .expansion .buttons .segmented-button .button-segment, .small .spell-group .expansion .buttons .segmented-button .button-segment {
  padding: 0 4px;
  font-size: inherit;
}
.spell-card .expansion .buttons .segmented-button .button-segment:nth-child(1), .spell-group .expansion .buttons .segmented-button .button-segment:nth-child(1) {
  border: none;
  padding-left: 12px;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.small .spell-card .expansion .buttons .segmented-button .button-segment:nth-child(1), .small .spell-group .expansion .buttons .segmented-button .button-segment:nth-child(1) {
  padding-left: 6px;
}
.spell-card .expansion .buttons .segmented-button .button-segment:last-child, .spell-group .expansion .buttons .segmented-button .button-segment:last-child {
  padding-right: 12px;
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}
.small .spell-card .expansion .buttons .segmented-button .button-segment:last-child, .small .spell-group .expansion .buttons .segmented-button .button-segment:last-child {
  padding-right: 6px;
}
.spell-card .expansion .buttons .segmented-button .button-segment:hover, .spell-group .expansion .buttons .segmented-button .button-segment:hover {
  background-color: rgba(73, 69, 79, 0.08);
}
.spell-card .expansion .buttons .segmented-button .button-segment:active, .spell-group .expansion .buttons .segmented-button .button-segment:active {
  background-color: rgba(73, 69, 79, 0.12);
}

.spell-card, .spell-card-scaffold {
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  padding: 16px;
  flex-shrink: 0;
  overflow: hidden;
  background-color: white;
}
.small .spell-card, .small .spell-card-scaffold {
  padding: 12px;
}
.spell-card-scaffold {
  height: 233px;
  box-sizing: border-box;
}
.small .spell-card-scaffold {
  height: 100px;
}
.spell-card .card {
  display: grid;
  grid-template-areas: "spell-tags level" "name level";
  grid-template-columns: 1fr auto;
}
.small .spell-card .card {
  grid-template-areas: "name level" "name spell-tags";
  align-items: center;
}
.spell-card .card .spell-tags {
  grid-area: spell-tags;
  margin-bottom: 0.2em;
  display: flex;
  gap: 5.2px;
  flex-wrap: wrap;
}
.spell-card .card .spell-tags *, .spell-card .card .spell-tags:before {
  display: inline-flex;
  align-items: center;
  height: 20.8px;
  padding-left: 7.8px;
  padding-right: 7.8px;
  border-radius: 10.4px;
  background-color: rgba(224, 224, 224, 0.5);
  font-size: 9.1px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.9);
}
.small .spell-card .card .spell-tags {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  margin-bottom: 0;
  margin-top: 4px;
  max-width: min-content;
}
.small .spell-card .card .spell-tags *, .small .spell-card .card .spell-tags:before {
  display: inline-flex;
  align-items: center;
  height: 16px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 8px;
  background-color: rgba(224, 224, 224, 0.5);
  font-size: 7px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.5px;
  color: rgba(0, 0, 0, 0.9);
}
.spell-card .card .name {
  grid-area: name;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.small .spell-card .card .name {
  font-size: 16px;
}
.spell-card .card .level {
  position: relative;
  grid-area: level;
  width: 64px;
  height: 64px;
  display: grid;
  place-content: center;
}
.small .spell-card .card .level {
  width: 32px;
  height: 32px;
  margin-left: 8px;
}
.spell-card .card .level:before {
  content: "";
  position: absolute;
  width: 64px;
  height: 64px;
  opacity: 0.75;
  background-size: contain;
}
.small .spell-card .card .level:before {
  width: 32px;
  height: 32px;
}
.spell-card .card .level:after {
  font-family: "Abril Fatface", serif;
  font-size: 32px;
}
.small .spell-card .card .level:after {
  font-size: 16px;
}
.spell-card .card .level-0:after {
  content: "";
  background-image: url("../icons/clean.png");
  background-size: cover;
  width: 32px;
  height: 32px;
}
.small .spell-card .card .level-0:after {
  width: 16px;
  height: 16px;
}
.spell-card .card .level-1:before {
  background-image: url("../icons/level outline 1.svg");
}
.spell-card .card .level-1:after {
  content: "1";
}
.spell-card .card .level-2:before {
  background-image: url("../icons/level outline 1.svg");
}
.spell-card .card .level-2:after {
  content: "2";
}
.spell-card .card .level-3:before {
  background-image: url("../icons/level outline 2.svg");
}
.spell-card .card .level-3:after {
  content: "3";
}
.spell-card .card .level-4:before {
  background-image: url("../icons/level outline 2.svg");
}
.spell-card .card .level-4:after {
  content: "4";
}
.spell-card .card .level-5:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-card .card .level-5:after {
  content: "5";
}
.spell-card .card .level-6:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-card .card .level-6:after {
  content: "6";
}
.spell-card .card .level-7:before {
  background-image: url("../icons/level outline 3.svg");
}
.spell-card .card .level-7:after {
  content: "7";
}
.spell-card .card .level-8:before {
  background-image: url("../icons/level outline 4.svg");
}
.spell-card .card .level-8:after {
  content: "8";
}
.spell-card .card .level-9:before {
  background-image: url("../icons/level outline 4.svg");
}
.spell-card .card .level-9:after {
  content: "9";
}
.spell-card .casting {
  margin-top: 0.8em;
  color: rgba(0, 0, 0, 0.85);
}
.small .spell-card .casting {
  margin-top: 0.6em;
}
.spell-card .casting .casting-tags {
  display: flex;
  gap: 6.4px;
  flex-wrap: wrap;
}
.spell-card .casting .casting-tags *, .spell-card .casting .casting-tags:before {
  display: inline-flex;
  align-items: center;
  height: 25.6px;
  padding-left: 9.6px;
  padding-right: 9.6px;
  border-radius: 12.8px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 11.2px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgb(0, 0, 0);
}
.small .spell-card .casting .casting-tags {
  display: flex;
  gap: 4.8px;
  flex-wrap: wrap;
}
.small .spell-card .casting .casting-tags *, .small .spell-card .casting .casting-tags:before {
  display: inline-flex;
  align-items: center;
  height: 19.2px;
  padding-left: 7.2px;
  padding-right: 7.2px;
  border-radius: 9.6px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 8.4px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgb(0, 0, 0);
}
.spell-card .casting .required-material {
  margin-top: 0.5em;
}
.small .spell-card .casting .required-material {
  margin-top: 0.4em;
}
.spell-card .casting .required-material .material {
  font-weight: 480;
  letter-spacing: 0.2px;
}
.spell-card .effects {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.small .spell-card .effects {
  font-size: 12px;
}
.spell-card .effects .effect-tags {
  display: flex;
  gap: 6.4px;
  flex-wrap: wrap;
}
.spell-card .effects .effect-tags *, .spell-card .effects .effect-tags:before {
  display: inline-flex;
  align-items: center;
  height: 25.6px;
  padding-left: 9.6px;
  padding-right: 9.6px;
  border-radius: 12.8px;
  background-color: rgb(224, 224, 224);
  font-size: 11.2px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgb(0, 0, 0);
}
.small .spell-card .effects .effect-tags {
  display: flex;
  gap: 4.8px;
  flex-wrap: wrap;
}
.small .spell-card .effects .effect-tags *, .small .spell-card .effects .effect-tags:before {
  display: inline-flex;
  align-items: center;
  height: 19.2px;
  padding-left: 7.2px;
  padding-right: 7.2px;
  border-radius: 9.6px;
  background-color: rgb(224, 224, 224);
  font-size: 8.4px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.25px;
  color: rgb(0, 0, 0);
}
.spell-card .effects .effect-tags .icon:before {
  content: "";
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-left: -3.2px;
  margin-right: 0.5em;
  background-size: cover;
}
.small .spell-card .effects .effect-tags .icon:before {
  width: 16px;
  height: 16px;
  margin-left: -3.2px;
}
.spell-card .effects .effect-tags .cone-icon:before {
  background-image: url("../icons/aoe cone 2.svg");
}
.spell-card .effects .effect-tags .cube-icon:before {
  background-image: url("../icons/aoe cube 2.svg");
}
.spell-card .effects .effect-tags .cylinder-icon:before {
  background-image: url("../icons/aoe cylinder 2.svg");
}
.spell-card .effects .effect-tags .line-icon:before {
  background-image: url("../icons/aoe line 2.svg");
}
.spell-card .effects .effect-tags .sphere-icon:before {
  background-image: url("../icons/aoe sphere 2.svg");
}
.spell-card .effects .effect-description {
  margin-top: 0.5em;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  border-top: 1px solid hsl(0deg, 0%, 88%);
  background-color: #f44236;
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
.bottom-nav *,
.bottom-nav *:before,
.bottom-nav *:after {
  box-sizing: inherit;
}
.bottom-nav__destination {
  flex: 1 1 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
  padding-left: 12px;
  color: white;
  text-decoration: none;
}
.bottom-nav__destination:focus {
  outline: 0;
}
.bottom-nav__destination--active .bottom-nav__icon {
  font-size: 36px;
}
.bottom-nav__icon {
  flex: 0 0 auto;
  display: block;
  width: 1em;
  height: 1em;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
}
.bottom-nav__destination {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 80px;
  max-width: 160px;
}
.bottom-nav__destination--active {
  padding-top: 8px;
  padding-bottom: 8px;
  min-width: 80px;
  max-width: 160px;
}

/*# sourceMappingURL=styles.css.map */
